#qta {
    color: green;
    font-weight: bold;
}

#total {
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 2rem;
}

td, th {
    border: 1px solid;
    padding: 3px 5px;
}